<footer>
  <div class="wrap">
    <div class="foot-grid">
      <div class="foot-logo">
        <img src="/images/badge.png" alt="Pulling Threads" width="88" height="88" />
        <p class="foot-tag">Mostly talking shit, occasionally to great people...</p>
      </div>
      <div class="foot-col">
        <h5>Listen</h5>
        <a href="https://open.spotify.com/show/1et4gYjb2968Hfcfm0TQdW">Spotify</a>
        <a href="https://podcasts.apple.com/au/podcast/pulling-threads/id1743241827">Apple Podcasts</a>
        <a href="https://anchor.fm/s/f504ca18/podcast/rss">RSS feed</a>
      </div>
      <div class="foot-col">
        <h5>Follow</h5>
        <a href="https://instagram.com/pullingthreads">Instagram &mdash; @pullingthreads</a>
        <a href="https://instagram.com/thealexcleary">Alex &mdash; @thealexcleary</a>
      </div>
      <div class="foot-col">
        <h5>Site</h5>
        <a href="/episodes/">Episodes</a>
        <a href="/about/">About</a>
        <a href="/store/">Store</a>
      </div>
    </div>
    <div class="foot-base">
      <span>&copy; {new Date().getFullYear()} Pulling Threads</span>
      <span>pullingthreads.com.au</span>
    </div>
  </div>
</footer>
